.credit-card-container {
  background-color: lightblue;
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 2px 2px rgba(0,0,0, 0.05);
  /* This color will either be theme or brand based */
}

.name-container {
  display: flex;
  flex-direction: row;
}

.first-name {
  margin-right: 1rem;
}

/* ################## */
/* Input Field Styles */
/* ################## */
.form-input-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form-header {
  text-align: left;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}

.form-input {
  border: solid 2px black;
  border-radius: 5px;
  width: 15rem;
  padding: .5rem;
}

.form-submit {

}
